In [2]:
import pandas as pd
import numpy as np
#  Charger le CSV
df = pd.read_csv("transactions.csv",sep=";")
#  Afficher les 5 premières lignes et les infos générales
print("5 premières lignes :")
print(df.head())
print("\nInfos générales :")
print(df.info())

5 premières lignes :
  action  quantite     prix        date  Unnamed: 4  Unnamed: 5  Unnamed: 6
0     FB      22.0  1398.93  2025-10-04         NaN         NaN         NaN
1   MSFT      11.0  2533.97  2025-10-27         NaN         NaN         NaN
2   NVDA      48.0   623.42  2025-10-22         NaN         NaN         NaN
3   AMZN      16.0  1263.49  2025-10-31         NaN         NaN         NaN
4     FB      33.0  2113.56  2025-10-17         NaN         NaN         NaN

Infos générales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   action      210 non-null    object
 1   quantite    204 non-null    float64
 2   prix        204 non-null    float64
 3   date        210 non-null    object
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
 6   Unnamed: 6  0 non-null      float64
dtypes: float64(5), object(2)
memory usage: 9.9+ KB
None

In [3]:
# Supprimer les doublons
df = df.drop_duplicates()
print("\nAprès suppression des doublons :")
print(df)
#  Supprimer les colonnes vides
df = df.dropna(axis=1, how="all")
print("\nAprès suppression des colonnes vides :")
print(df)
#  Supprimer les lignes avec valeurs manquantes
df = df.dropna()
print("\nAprès suppression des valeurs manquantes :")
print(df)

Après suppression des doublons :
    action  quantite     prix        date  Unnamed: 4  Unnamed: 5  Unnamed: 6
0       FB      22.0  1398.93  2025-10-04         NaN         NaN         NaN
1     MSFT      11.0  2533.97  2025-10-27         NaN         NaN         NaN
2     NVDA      48.0   623.42  2025-10-22         NaN         NaN         NaN
3     AMZN      16.0  1263.49  2025-10-31         NaN         NaN         NaN
4       FB      33.0  2113.56  2025-10-17         NaN         NaN         NaN
..     ...       ...      ...         ...         ...         ...         ...
195   NVDA      33.0  1958.20  2025-10-21         NaN         NaN         NaN
196   AMZN       8.0  1195.39  2025-10-05         NaN         NaN         NaN
197   MSFT      44.0   726.71  2025-10-18         NaN         NaN         NaN
198  GOOGL      44.0   834.52  2025-10-28         NaN         NaN         NaN
199   NFLX       NaN      NaN  2025-10-10         NaN         NaN         NaN

[200 rows x 7 columns]

Après suppression des colonnes vides :
    action  quantite     prix        date
0       FB      22.0  1398.93  2025-10-04
1     MSFT      11.0  2533.97  2025-10-27
2     NVDA      48.0   623.42  2025-10-22
3     AMZN      16.0  1263.49  2025-10-31
4       FB      33.0  2113.56  2025-10-17
..     ...       ...      ...         ...
195   NVDA      33.0  1958.20  2025-10-21
196   AMZN       8.0  1195.39  2025-10-05
197   MSFT      44.0   726.71  2025-10-18
198  GOOGL      44.0   834.52  2025-10-28
199   NFLX       NaN      NaN  2025-10-10

[200 rows x 4 columns]

Après suppression des valeurs manquantes :
    action  quantite     prix        date
0       FB      22.0  1398.93  2025-10-04
1     MSFT      11.0  2533.97  2025-10-27
2     NVDA      48.0   623.42  2025-10-22
3     AMZN      16.0  1263.49  2025-10-31
4       FB      33.0  2113.56  2025-10-17
..     ...       ...      ...         ...
194   NFLX      37.0   550.56  2025-10-19
195   NVDA      33.0  1958.20  2025-10-21
196   AMZN       8.0  1195.39  2025-10-05
197   MSFT      44.0   726.71  2025-10-18
198  GOOGL      44.0   834.52  2025-10-28

[195 rows x 4 columns]

In [4]:
# Créer une colonne total = quantite * prix
df["total"] = df["quantite"] * df["prix"]
print("\nAprès ajout de la colonne 'total' :")
print(df)
# Ajouter colonne prix_log = log(prix) avec NumPy
df["prix_log"] = np.log(df["prix"])
print("\nAprès ajout de la colonne 'prix_log' :")
print(df)

Après ajout de la colonne 'total' :
    action  quantite     prix        date     total
0       FB      22.0  1398.93  2025-10-04  30776.46
1     MSFT      11.0  2533.97  2025-10-27  27873.67
2     NVDA      48.0   623.42  2025-10-22  29924.16
3     AMZN      16.0  1263.49  2025-10-31  20215.84
4       FB      33.0  2113.56  2025-10-17  69747.48
..     ...       ...      ...         ...       ...
194   NFLX      37.0   550.56  2025-10-19  20370.72
195   NVDA      33.0  1958.20  2025-10-21  64620.60
196   AMZN       8.0  1195.39  2025-10-05   9563.12
197   MSFT      44.0   726.71  2025-10-18  31975.24
198  GOOGL      44.0   834.52  2025-10-28  36718.88

[195 rows x 5 columns]

Après ajout de la colonne 'prix_log' :
    action  quantite     prix        date     total  prix_log
0       FB      22.0  1398.93  2025-10-04  30776.46  7.243463
1     MSFT      11.0  2533.97  2025-10-27  27873.67  7.837543
2     NVDA      48.0   623.42  2025-10-22  29924.16  6.435220
3     AMZN      16.0  1263.49  2025-10-31  20215.84  7.141633
4       FB      33.0  2113.56  2025-10-17  69747.48  7.656129
..     ...       ...      ...         ...       ...       ...
194   NFLX      37.0   550.56  2025-10-19  20370.72  6.310936
195   NVDA      33.0  1958.20  2025-10-21  64620.60  7.579781
196   AMZN       8.0  1195.39  2025-10-05   9563.12  7.086228
197   MSFT      44.0   726.71  2025-10-18  31975.24  6.588527
198  GOOGL      44.0   834.52  2025-10-28  36718.88  6.726857

[195 rows x 6 columns]

In [5]:
# Filtrer pour prix > 100
df = df[df["prix"] > 100]
print("\nAprès filtrage prix > 100 :")
print(df)
#  Trier par prix décroissant\
df = df.sort_values(by="prix", ascending=False)
print("\nAprès tri par prix décroissant :")
print(df)

Après filtrage prix > 100 :
    action  quantite     prix        date     total  prix_log
0       FB      22.0  1398.93  2025-10-04  30776.46  7.243463
1     MSFT      11.0  2533.97  2025-10-27  27873.67  7.837543
2     NVDA      48.0   623.42  2025-10-22  29924.16  6.435220
3     AMZN      16.0  1263.49  2025-10-31  20215.84  7.141633
4       FB      33.0  2113.56  2025-10-17  69747.48  7.656129
..     ...       ...      ...         ...       ...       ...
194   NFLX      37.0   550.56  2025-10-19  20370.72  6.310936
195   NVDA      33.0  1958.20  2025-10-21  64620.60  7.579781
196   AMZN       8.0  1195.39  2025-10-05   9563.12  7.086228
197   MSFT      44.0   726.71  2025-10-18  31975.24  6.588527
198  GOOGL      44.0   834.52  2025-10-28  36718.88  6.726857

[194 rows x 6 columns]

Après tri par prix décroissant :
    action  quantite     prix        date      total  prix_log
126   MSFT      29.0  2988.00  2025-10-06   86652.00  8.002360
184   TSLA      23.0  2987.70  2025-10-24   68717.10  8.002259
38   GOOGL      49.0  2939.56  2025-10-17  144038.44  7.986015
125   MSFT      24.0  2924.03  2025-10-02   70176.72  7.980718
7       FB      16.0  2910.13  2025-10-21   46562.08  7.975953
..     ...       ...      ...         ...        ...       ...
175   AAPL      16.0   178.03  2025-10-16    2848.48  5.181952
9     AMZN       3.0   171.15  2025-10-13     513.45  5.142540
85    NVDA       8.0   165.60  2025-10-01    1324.80  5.109575
73    AMZN       2.0   164.94  2025-10-19     329.88  5.105582
40    INTC       1.0   100.63  2025-10-21     100.63  4.611450

[194 rows x 6 columns]

In [6]:
#  Calculer le total des quantités par action
totaux = df.groupby("action")["quantite"].sum()
print("\nTotal des quantités par action :")
print(totaux)
# Exporter le DataFrame final
df.to_csv("transactions_clean.csv", index=False)
print("\nDataFrame final exporté dans 'transactions_clean.csv'")

Total des quantités par action :
action
AAPL     598.0
AMD      501.0
AMZN     459.0
FB       773.0
GOOGL    491.0
INTC     481.0
MSFT     436.0
NFLX     331.0
NVDA     623.0
TSLA     460.0
Name: quantite, dtype: float64

DataFrame final exporté dans 'transactions_clean.csv'